<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ymkj.credit.mapper.DictionaryMapper">
  <resultMap id="BaseResultMap" type="com.ymkj.credit.common.entity.Dictionary">

    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="data_type" jdbcType="VARCHAR" property="dataType" />
    <result column="data_code" jdbcType="VARCHAR" property="dataCode" />
    <result column="data_name" jdbcType="VARCHAR" property="dataName" />
    <result column="data_value" jdbcType="VARCHAR" property="dataValue" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <select id="queryAllType"  resultMap="BaseResultMap" >
    SELECT * FROM dictionary d WHERE d.`status`='1' GROUP BY d.data_type
  </select>
  <select id="getImageUrl"  parameterType="Map" resultMap="BaseResultMap" >
   SELECT d.data_value ,d.data_name from dictionary d WHERE  d.status='1' and d.data_type='bankList'
    <if test="bankName!=null and bankName!=''">  
     AND #{bankName} like concat('%',d.data_name,'%')
  </if>
  </select>
</mapper>