<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ymkj.credit.mapper.IdCardInfoMapper">
  <resultMap id="BaseResultMap" type="com.ymkj.credit.common.entity.IdCardInfo">

    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="customer_id" jdbcType="VARCHAR" property="customerId" />
    <result column="score" jdbcType="VARCHAR" property="score" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="info" jdbcType="VARCHAR" property="info" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="batch_num" jdbcType="VARCHAR" property="batchNum" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="is_liveness_open" jdbcType="VARCHAR" property="isLivenessOpen" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
 <update id="updateIdCardInfoByCId" parameterType="com.ymkj.credit.common.entity.IdCardInfo">
  		update idCardInfo
  		<set>
      		  <if test="status!= null and status!='' ">  
           		 status = #{status}
      		 </if> 
  		</set>
  		   WHERE customer_id = #{customerId}
  </update>
</mapper>