<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ymkj.credit.mapper.SmsMessageRecordMapper">
  <resultMap id="BaseResultMap" type="com.ymkj.credit.common.entity.SmsMessageRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="operater" jdbcType="VARCHAR" property="operater" />
    <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
    <result column="phone" javaType="encrypt" jdbcType="VARCHAR" property="phone" />
    <result column="phone_Bak"  jdbcType="VARCHAR" property="phoneBak" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <insert id="insertTable" parameterType="com.ymkj.credit.common.entity.SmsMessageRecord">
  	insert into sms_message_record
  	<trim prefix="(" suffix=")">
				customer_name,
				phone,
				phone_Bak,
				content,
				create_time,
				operater
		</trim>
		<trim prefix="values (" suffix=")">
				<!-- seq_tm_apply_field_info.nextval, -->
				#{customer_name,javaType=VARCHAR},
				#{phone,javaType=encrypt},
				#{phone,jdbcType=VARCHAR},
				#{content,jdbcType=VARCHAR},
				sysdate(),
				#{operater,jdbcType=VARCHAR}
		</trim>
  </insert>
  
    <select id="selectSmsMessageRecordListByConditions" parameterType="com.ymkj.credit.common.entity.SmsMessageRecord" resultMap="BaseResultMap">
		select t.id,
		t.customer_name,
		t.phone,
		 t.create_time as createTimeStr,
		t.content,
		t.operater
		from sms_message_record t where 1=1
      	 <if test="phone!=null and phone!='' ">  
       	  AND t.phone = #{phone,javaType=encrypt} 
      	</if>
      	<if test="customerName!=null and customerName!='' ">  
       	  AND t.customer_name = #{customerName} 
      	</if>
      	 <if test="beginDate!=null and beginDate!='' ">  
       	  AND t.create_time >= #{beginDate} 
      	</if>
      	 <if test="endDate!=null and endDate!='' ">  
       	  AND t.create_time &lt; #{endDate} 
      	</if>
      	ORDER BY t.create_time DESC
	</select>
</mapper>